<a href="https://colab.research.google.com/github/JuliethAE/TalentoTech/blob/main/PRACTICA_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRACTICA SQL**

In [1]:
#1.1. Importacion de librerias
import pandas as pd #libreria de python para manipulacion de datos
import sqlite3      #libreria de SQlite

In [2]:
#Lectura
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:

#1.3. Los datos de entrada estan disponibles en la ruta del Drive personal
ruta = "/content/drive/MyDrive/Colab Notebooks/"
database = ruta + 'database.sqlite'

In [4]:
#1.4. Esto es basicamente para saber que la conexion ha estado bien.
conn = sqlite3.connect(database)
print ('conexion exitosa')

conexion exitosa

In [5]:
print (database)

/content/drive/MyDrive/Colab Notebooks/database.sqlite

In [6]:
tables = pd.read_sql("""select * from sqlite_master WHERE type= 'table';""",conn)  # el "*" significa toooodas las tablas  # con 3 comillas

tables

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []

In [9]:
query = '''SELECT * FROM Country;'''

countries = pd.read_sql(query, conn)
countries

DatabaseError: Execution failed on sql 'SELECT * FROM Country;': no such table: Country