<a href="https://colab.research.google.com/github/JuliethAE/TalentoTech/blob/main/PRACTICA_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importar las librerias requeridas
import pandas as pd
import sqlite3

In [2]:
#Establecer conexión con el repositorio de datos o bases de datos
#Lectura
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [3]:
#Los datos de entrada están disponibles en el directorio "drive"
ruta = "/content/drive/MyDrive/Colab Notebooks/"

database = ruta + 'database.sqlite'

In [4]:
#Creamos la conexión con la BD y listaremos las tablas con las que contamos

conn = sqlite3.connect (database)
print ("Conexión exitosa")

Conexión exitosa

In [5]:
print (database)

/content/drive/MyDrive/Colab Notebooks/database.sqlite

In [6]:
#Importar las librerias requeridas
import pandas as pd
import sqlite3

In [7]:
#Establecer conexión con el repositorio de datos o bases de datos
#Lectura
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
#Los datos de entrada están disponibles en el directorio "drive"
ruta = "/content/drive/MyDrive/Colab Notebooks/"

database = ruta + 'database.sqlite'

In [9]:
#Creamos la conexión con la BD y listaremos las tablas con las que contamos

conn = sqlite3.connect (database)
print ("Conexión exitosa")

Conexión exitosa

In [10]:
print (database)

/content/drive/MyDrive/Colab Notebooks/database.sqlite

In [11]:
tablas = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tablas

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []