<a href="https://colab.research.google.com/github/JuliethAE/TalentoTech/blob/main/PRACTICA_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRACTICA SQL**

In [ ]:
#Importar las librerias requeridas
import pandas as pd
import sqlite3

In [ ]:
#Establecer conexión con el repositorio de datos o bases de datos
#Lectura
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
#Los datos de entrada están disponibles en el directorio "drive"
ruta = "/content/drive/MyDrive/Colab Notebooks/"

database = ruta + 'database.sqlite'

In [30]:
#Creamos la conexión con la BD y listaremos las tablas con las que contamos

conn = sqlite3.connect (database)
print ("Conexión exitosa")

Conexión exitosa

In [31]:
print (database)

/content/drive/MyDrive/Colab Notebooks/database.sqlite

In [32]:
tablas = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tablas

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []